# Entorno virtual
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# ⚠️ MUY IMPORTANTE: Secretos y Credenciales
.streamlit/secrets.toml
.env
.venv/
# Base de datos local (por si acaso)
*.sqlite3
# Logs
logs/
*.log
# Configuración de Streamlit
.streamlit/config.toml
# Archivos de desarrollo
reports/
*.ipynb_checkpoints
# Archivos de exportación
*.csv
*.xlsx
*.json
*.pdf
# Archivos de despliegue
dist/
build/
*.egg-info/
# Archivos de sistema
.DS_Store
Thumbs.db
.generar_pdf.cpython-310.pyc
agencia_n16_auditoria/reports/